#social-sharing-link-container-layout {
    padding: 15px;
    height: 35px;
    width: auto;
    overflow: hidden;
}

.cell-gnusocial {
  visibility: visible;
}

.sharing-buttons {
    border-radius: 100%;
    border: 2px solid transparent;
    box-sizing: border-box;
    color: #fff;
    display:inline-block;
    font: normal bold 22px/1.5 OpenWeb Icons,"Pt serif","Georgia",Arial,sans-serif;
    letter-spacing: 1px;
    margin:10px;
    text-align: center;
    width:50px;
    height:50px;
    padding: 10px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-gnusocial:before {
    color: peru;
    margin-bottom: 24px;
    text-decoration: none;
}

.icon-mastodon-simple:before {
    color: #9baec8;
    margin-bottom: 24px;
    text-decoration: none;
}

.icon-hubzilla:before {
    color: steelblue;
    margin-bottom: 24px;
    text-decoration: none;
}

.icon-diaspora:before {
    color: darkkhaki;
    margin-bottom: 24px;
    text-decoration: none;
}

.icon-friendica:before {
    color: royalblue;
    margin-bottom: 24px;
    text-decoration: none;
}

.icon-pump-io:before {
    color: thistle;
    margin-bottom: 24px;
    text-decoration: none;
}

.icon-fediverse:before {
    color: cadetblue;
    margin-bottom: 24px;
    text-decoration: none;
}

.icon-ostatus:before {
    color: sandybrown;
    margin-bottom: 24px;
    text-decoration: none;
}

.icon-activitypub:before {
    color: #666666;
    margin-bottom: 24px;
    text-decoration: none;
}

.icon-gnusocial:hover::before {
    color: #a22430;
}

.icon-mastodon-simple:hover::before {
    color: #2b90d9;
}

.icon-hubzilla:hover::before {
    color: #43488a;
}

.icon-diaspora:hover::before {
    color: #000000;
}

.icon-friendica:hover::before {
    color: #febf19;
}

.icon-pump-io:hover::before {
    color: #000000;
}

.icon-fediverse:hover::before {
    color: mediumaquamarine;
}

.icon-ostatus:hover::before {
    color: orange;
}

.icon-activitypub:hover::before {
    color: #f1007e;
}
